
.info-container{
    width: 90%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 2);
    align-items: center;
    border-radius: 0.8rem;
}

.first-sec{
    flex: 1;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
}

.second-sec{
    flex: 2;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    /*justify-content: center;*/
}

.third-sec{
    flex: 1;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.img-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.img-sec img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_date span{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    font-weight: 680;
    margin: .5rem 0;
}

.blog-post_title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfc;
}

.blog-post_text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.blog-post_cta{
    display: inline-block;
    padding: 1rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfc 0%, #08f2fe 100%);
    border-radius: .8rem;
    text-decoration: none;
    /*align-items: center;*/

}

.blog-post_cta:hover{
    background-image: linear-gradient(to right, #08f2fe 0%, #4facfc 100%);
    text-decoration: none;
}

.a-c-container{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

.a-c-first-sec{
    flex: 1;
}
.a-c-second-sec{
    flex: 1;
}

#page-hbeauty\/detail > div > main > div.page_content > div.a-c-container > div.a-c-first-sec > h1{
    text-align: center;
}

.q-a-section{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*align-items: stretch;*/

}
.q-col{
    flex: 2;
    /*!*width: 50%;*!*/
    background: #E5D9F2;
    /*flex-direction: column;*/
    border-radius: 1rem 0 0 0;
}


.a-col{
    flex: 1;
    /*width: 50%;*/
    background: #F5EFFF;
    /*flex-direction: column;*/
    /*display: inline-block;*/
}

.q-col p{
    font-size: 1rem;
    font-weight: bold;
    color: #100029;

}
.a-col p{
    font-size: 1rem;
    font-weight: 400;
    color: #100029;
}


.header{
    text-align: center;
    background: orange;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /*background-color: #fff;*/
    /*box-shadow: 0 0.1rem 8rem rgb(33 33 33);*/
    box-shadow: 0px 15px 10px -15px #111;
    align-items: center;
    border-radius: 0.8rem;
}

@media (max-width: 700px) {
    .info-container{
        flex-direction: column;
    }
    .blog-post_title {
        font-size: 1.5rem;
        margin: 0.5rem 0 1rem;
    }
    .blog-post_date span{
        font-size: 1rem;
        font-weight: 400;
    }
    .blog-post_text {
        font-size: 1rem;
    }
    .blog-post_cta{
        font-size: .6rem;
        display: flex;
        text-align: center;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }
    .blog-post_date h4{
        font-size: .8rem;
    }

    .a-c-container{
        flex-direction: column;
    }
    .q-a-section{
        flex-direction: column;
    }

}
