<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;	<a href="{{ doc.route }}">{{ doc.first_name or doc.name }}</a>&ndash;&gt;-->

<div>
	<table class="table table-striped">
		<thead>
<!--		<tr>-->
<!--			<th scope="col">#</th>-->
<!--			<th scope="col">First</th>-->
<!--			<th scope="col">Last</th>-->
<!--			<th scope="col">Handle</th>-->
<!--		</tr>-->
<!--
<!--		<tbody>-->
		<tr>
<!--			<th scope="row">1</th>-->

			<td><a href="/{{ doc.route }}">{{ name }}</a></td>
			<td>{{ first_name }}</td>
			<td>{{ last_name }}</td>
		</tr>
		</thead>
		</tbody>
	</table>
</div>
<!--&lt;!&ndash; this is a sample default list template &ndash;&gt;-->
<!--&lt;!&ndash;<div class='col-md-4'>&ndash;&gt;-->
<!--&lt;!&ndash;	<div class=event-card'>&ndash;&gt;-->
<!--&lt;!&ndash;		<div class='event-card-head'>&ndash;&gt;-->
<!--&lt;!&ndash;			<img src={{ image }}>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--&lt;!&ndash;		<div class='event-card-body'>&ndash;&gt;-->
<!--&lt;!&ndash;			<h3>&ndash;&gt;-->
<!--&lt;!&ndash;				<a href="/{{ doc.route }}">{{ first_name }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;			</h3>&ndash;&gt;-->
<!--&lt;!&ndash;		</div>&ndash;&gt;-->
<!--&lt;!&ndash;	</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
