{% extends "templates/web.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/wp_app/css/card.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">

        <title>Responsive blog post card</title>
        </head>
<body>
<div class="m-container">
    <div class="first-sec">

            <div class="img-sec">
                <img src="/files/Hidden Beauty Winnerspie.png">
            </div>

    </div>
        <div class="second-sec">

            <div class="blog-post_info">


                <div class="blog-post_date">
                    <span>Sunday</span>
                    <span>June 03 2021</span>
                </div>
                    <h1 class="blog-post_title">AV Tutoring</h1>
                    <p class="blog-post_text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <a href="#" class="blog-post_cta">
                        Read more
                    </a>
            </div>
        </div>
</div>




</body>

{% endblock %}

