<!--<link rel="stylesheet" href="/assets/wp_app/css/hidden_beauty_row.css">-->
{% extends "templates/web.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/wp_app/css/card.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">




<div class="hero">
  <div class="overlay"></div>
  <div class="content">
    <h1>Hidden Beauty List...</h1>
<!--      <p>This shit looks great, huh?</p>-->
  </div>
</div>
<div class="site-section site-section-sm bg-light">
    <div class="container">

        <div class="row mb-5">

            {% for hbeauty in hbsurvey %}

            <div class="col-md-6 col-lg-4 mb-4">
                <div id="book">
                    <h2 card-header>
                        {{hbeauty.first_name}} {{hbeauty.last_name}}
                    </h2>
                        <div class="text">
                            <p><b>Referral code  </b><br>
                                {{hbeauty.referred_by}}
                            <p><b>Email ID </b><br>
                                {{hbeauty.email_id}}</p>
                            <p><b>Mobile Number </b><br>
                                {{hbeauty.mobile_number}}</p>
                            <p><b>Age Group </b><br>
                                {{hbeauty.age_group}}</p>
                            <a href="/hbeauty/detail/{{hbeauty.name}}" class="btn1" type="button">Show Details</a>
                            <div id="card-footer">
                            {{hbeauty.name}}
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
<!--        <div class="row">-->
<!--            <div class="col-md-12 text-center">-->
<!--                <div class="site-pagination">-->
<!--                    <a href="#" class="active">1</a>-->
<!--                    <a href="#">2</a>-->
<!--                    <a href="#">3</a>-->
<!--                    <a href="#">4</a>-->
<!--                    <a href="#">5</a>-->
<!--                    <span>...</span>-->
<!--                    <a href="#">10</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>
{% endblock %}
