{% extends "templates/web.html" %}
{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      xmlns="http://www.w3.org/1999/html">
<!--<link rel="stylesheet" src="/assets/css/fontawesome.css">-->
<div class="info-container">
    <div class="first-sec">

        <div class="img-sec">

            <img src="{{ opmember.profile_image }}">

            <span><b>Sponser ID :</b> {{ opmember.name }}</span>
        </div>

    </div>
    <div class="second-sec">

        <div class="blog-post_info">


<!--            <div class="blog-post_date">-->
<!--                <span><b>Sponser ID :</b> {{ opmember.name }}</span>-->
<!--&lt;!&ndash;                <span><b>Creation Date</b> {{ opmember.creation.strftime('%d-%m-%Y') }}</span>&ndash;&gt;-->
<!--            </div>-->
            <h1 class="blog-post_title">{{ opmember.name1 }}</h1>

            <div class="blog-post_date">
                <h5> Oriflame independent {{ opmember.designation }}</h5>
                <span> Email ID : {{ opmember.email }}</span>
                <span> Mobile Number : {{ opmember.mobile_number }}</span>

            </div>
            <a class="blog-post_cta" href="#">
                Follow me
            </a>
            <div class="social-media-main">
                    <li><a href="https://facebook.com/{{opmember.facebook_id}}"><i class="fab fa-facebook-square"></i> </a> </li>
                    <li><a href="https://plus.google.com/{{opmember.google_id}}"><i class="fab fa-google-plus-square"></i> </a> </li>
                    <li><a href="https://twitter.com/{{opmember.twitter_id}}"><i class="fab fa-twitter-square"></i> </a> </li>
                    <li><a href="https://instagram.com/{{opmember.instagram_id}}"><i class="fab fa-instagram"></i> </a> </li>


                    </div>
        </div></div>

            <div class="third-sec">
                                <iframe class="video-card" width="353" height="240" src="https://www.youtube.com/embed/tIef29XLYr4?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<!--                <iframe class="video-card" width="353" height="240"  src="{{ opmember.paste_youtube_video_link}}?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>-->
<!--                <iframe class="video-card" width="353" height="240" src="{{ opmember.paste_youtube_video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>-->
            </div>



<section class="custom-form">
    <div class="row">
        <div class="cf-col1">
            <h3>DISCOVER YOUR HIDDEN BEAUTY WITH US</h3>
            <p>KINDLY FILL IN THE FORM FOR SELECTION OF CUSTOMIZED PRODUCTS SUITS YOU PERFECTLY!</p>
            <a class="blue-cta-button" href="https://winnerspie.com/hidden-beauty-form?new=1&referred_by={{ opmember.name }}">Click Here</a>
        </div>
        <div class="cf-col2">
              <h3>WELLNESS WAVE</h3>
            <p>KINDLY FILL IN THE FORM FOR SELECTION OF CUSTOMIZED PRODUCTS SUITS YOU PERFECTLY!</p>
            <a class="blue-cta-button" href="https://winnerspie.com/wellness-wave-form?new=1&referred_by={{ opmember.name }}">Click Here</a>
        </div>

 </div>
</section>

<div class="section-cta-container">
	<div class="section-cta">
		<h2 class="title">Become a Brand Partner</h2>

		<div class="mt-6">
			<a href="https://winnerspie.com/become-a-brand-partner?new=1&referred_by={{ opmember.name }}" class="blue-cta-button">Join Today</a>
		</div>

		<div class="description">
		<p>Welcome to our online registration! Registering with us is quick and easy. Kindly fill in below form and click sign-up.</p>
		</div>

	</div>

		<div class="confetti confetti-1"></div>
		<div class="confetti confetti-2"></div>
		<div class="confetti confetti-3"></div>

</div>

<div class="header">
    <h2>OUR ORIFLAME BUSINESS JOURNEY</h2>
</div>

<section class="ob-journey">
    <div class="row">
        <div class="my-col1">
            <h3>Business Journey</h3>
            <p>{{ opmember.business_journey }}</p>
        </div>
        <div class="my-col2">
            <h3>About me</h3>
            <p>{{ opmember.about_me }}</p>
        </div>

 </div>
</section>

<div class="header">
    <h2>OUR TEAM</h2>
</div>
<div class="team-new-sec">
<!--    <h1>Our Team</h1>-->
        <div class="team-card">
               {% for member_team in opmember.team_members %}
            <div class="team-member">
                <div class="team-img">
                    <img src="{{member_team.team_member_picture}}">
                </div>
                <h3>{{member_team.team_member_name}}</h3>
                <p class="role">{{member_team.desgination}}</p>
                <p>{{member_team.short_intro}}</p>
                <div class="social-media">
                    <li><a href="https://facebook.com/{{member_team.facebook_id}}"><i class="fab fa-facebook-square"></i> </a> </li>
                    <li><a href="https://plus.google.com/{{member_team.google_id}}"><i class="fab fa-google-plus-square"></i> </a> </li>
                    <li><a href="https://twitter.com/{{member_team.twitter_id}}"><i class="fab fa-twitter-square"></i> </a> </li>
                    <li><a href="https://instagram.com/{{member_team.instagram_id}}"><i class="fab fa-instagram"></i> </a> </li>



                </div>
            </div>
                                    {% endfor %}

<!--            <div class="team-member">-->
<!--                <div class="team-img">-->
<!--                    <img src="/assets/wp_app/winnerspie/assets/images/team_02.jpg">-->
<!--                </div>-->
<!--                <h3>Team Member 2</h3>-->
<!--                <p class="role"> Designation role</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto neque nisi perspiciatis reiciendis veritatis voluptatibus.</p>-->
<!--                    <div class="social-media">-->
<!--                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-google-plus-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-twitter-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-instagram"></i> </a> </li>-->


<!--                    </div>-->
<!--            </div>-->
<!--            <div class="team-member">-->
<!--                <div class="team-img">-->
<!--                    <img src="/assets/wp_app/winnerspie/assets/images/team_03.jpg">-->
<!--                </div>-->
<!--                <h3>Team Member 3</h3>-->
<!--                <p class="role"> Designation role</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto neque nisi perspiciatis reiciendis veritatis voluptatibus.</p>-->
<!--                <div class="social-media">-->
<!--                    <li><a href="#"><i class="fab fa-facebook-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-google-plus-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-twitter-square"></i> </a> </li>-->
<!--                    <li><a href="#"><i class="fab fa-instagram"></i> </a> </li>-->


<!--                </div>-->
<!--            </div>-->
        </div>

</div>




    <div class="header">
    <h2>Video & Gallary</h2>
    </div>



<div class="gl-container">
  <div class="img-grid">
      {% for member_galary in opmember.gallery_image %}
      <a href="{{member_galary.image}}" class="image-popup gal-item"><img src="{{member_galary.image}}" alt=""></a>
                              {% endfor %}

<!--    <img src="/assets/wp_app/winnerspie/assets/images/slide_02.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/slide_03.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/service_01.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/service_02.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/service_03.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/single_service_01.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/single_service_02.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/single_service_03.jpg" alt="">-->
<!--    <img src="/assets/wp_app/winnerspie/assets/images/single_service_04.jpg" alt="">-->


  </div>
</div>










    <div class="header">
    <h2>Achievement & awards</h2>
    </div>

<div class="award-sec">
    <div class="award-card">
                         {% for member_achievement_and_awards in opmember.member_achievement_and_awards %}

        <div class="a-card">
            <div class="award-img">
            <img src="{{member_achievement_and_awards.award_logo}}">
            </div>
            <h2>{{member_achievement_and_awards.award_title}}</h2>
            <p>{{member_achievement_and_awards.award_description}}</p>


        </div>
                    {% endfor %}

<!--        <div class="a-card">-->
<!--            <div class="award-img">-->
<!--            <img src="/assets/wp_app/winnerspie/assets/images/client-01.png">-->
<!--            </div>-->
<!--            <h2>Award Title</h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea inventore itaque, omnis quod sunt.</p>-->
<!--        </div>-->
<!--        <div class="a-card">-->
<!--            <div class="award-img">-->
<!--            <img src="/assets/wp_app/winnerspie/assets/images/client-01.png">-->
<!--            </div>-->
<!--            <h2>Award Title</h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ea inventore itaque, omnis quod sunt.</p>-->
<!--        </div>-->
    </div>
    
</div>








<!--<div class="header">-->
<!--    <h2>News & Event</h2>-->
<!--</div>-->

<!--    <div class="container mt-5">-->

<!--      <div class="row">-->


<!--        <div class="col-12">-->
<!--            <div class="m-blog">-->
<!-- {% for blog_post in opm_blog %}-->

<!--          <article class="blog-card">-->
<!--            <div class="blog-card__background">-->
<!--              <div class="card__background&#45;&#45;wrapper">-->
<!--                <div class="card__background&#45;&#45;main" style=background:#0b2e13;>-->
<!--                  <div class="card__background&#45;&#45;layer"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="blog-card__head">-->
<!--              <span class="date__box">-->
<!--                <span class="date__day"></span>-->
<!--                <span class="date__month"></span>-->
<!--                <span class="date__month">{{ frappe.format(blog_post.published_on, {'fieldtype': 'Date'}) }}</span>-->
<!--              </span>-->
<!--            </div>-->
<!--            <div class="blog-card__info">-->
<!--              <h5>{{blog_post.title}}</h5>-->
<!--              <p>-->
<!--                <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> {{blog_post.blogger}}</a>-->
<!--                <a href="#" class="icon-link"><i class="fa fa-comments-o"></i>  Reading Time : {{blog_post.read_time}} min</a>-->
<!--              </p>-->
<!--              <p>{{blog_post.blog_intro}}</p>-->
<!--              <a href="https://winnerspie.com/{{blog_post.route}}" class="btn btn&#45;&#45;with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>-->
<!--            </div>-->
<!--          </article>-->

<!--{% endfor %}-->

<!--                </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->


<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;new-->

<div class="header">
    <h2>News & Event</h2>
</div>
<div class="site-section site-section-sm bg-light">
    <div class="p-container">

        <div class="row mb-5">
{% for blog_post in opm_blog %}

            <div class="col-md-6 col-lg-4 mb-4 ">
<!--                <div id="book">-->
<div class="nblog-new-sec">
<!--    <h1>Our Team</h1>-->
        <div class="nblog-card">

            <div class="nblogs">


                <div class="nblogs_info">

                    <h3>{{blog_post.title}}</h3><span>{{blog_post.blog_category}}</span>

                </div>
<!--                <div class="nblog_cover_img">-->
<!--                    <img src="/assets/wp_app/winnerspie/assets/images/coverpic.jpg">-->
<!--                </div>-->
<!--                <div class="nblog_img">-->
<!--                    <img src="/files/logo.png">-->
<!--                </div>-->
                <div class="nblogdate">
                     <p class="role">{{ frappe.format( blog_post.published_on, {'fieldtype': 'Date'}) }}</p>
                </div>
                    <div class="nblog_intro">
                <p>{{blog_post.blog_intro}}</p>
                </div>

                <div class="blogerinfo">
                    <p>
                <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> {{blog_post.blogger}}</a>
                </p></div>
                <div class="blogtime">
                    <p>
                        <a href="#" class="icon-link"><i class="fa fa-comments-o"></i>  Reading Time : {{blog_post.read_time}} min</a>
              </p>
                </div>
                        <div class="nblog_button_sec">
                    <a href="https://winnerspie.com/{{blog_post.route}}" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>

                </div>
            </div>
        </div>

</div>

       </div>
<!--            </div>-->
{% endfor %}
        </div>
    </div>
</div>



<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;cat-&#45;&#45;&#45;&#45;&#45;&#45;-->


<div class="header">
    <h2>Catalogue Gallery</h2>
</div>
abc
{% for catalogue_gallery in opm_cat %}
abc
{{catalogue_gallery.title}}
{{catalogue_gallery.name}}
{{catalogue_gallery.description}}

{% endfor %}













{% endblock %}
